*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: #d5d5d5;
}
.form{
    width: 400px;
    margin: 50px auto;
}
.form input{
    outline: none;
    padding: 14px;
    width: 100%;
}
.form p{
    width: 100%;
    text-align: center;
    padding: 14px;
    background-color: #185b00;
    color: #ffffff;
    margin-top: 20px;
}
.form p:hover{
    cursor: pointer;
    background-color: #114100;
}
.form .answer{
    margin-top: 20px;
}